.Navigation-Wrapper {
  .Middle-menu {
    .navigation-item{
      select{
        width:max-content;
        height:max-content;
        background-color: rgba(0,0,0,0);
        color: $text-bright-color;
        border: none;
          option{
            background-color: $background-page-color;
            height: 20px;
          }
          option:hover{
            background-color: transparent;
          }
      }
    }
  }
}