$background-page-color: #0E0607;
$background-tile-color: #0E0607;
$text-bright-color: #c97e86;
$text-dark-color: #bd616a;
$glow-gradient-color-outermost: #e1b7bb;
$glow-gradient-color-innermost: #c36f78;

$bar-for-skillscolorone: #733037;
$bar-for-skillscolortwo: #562429;