.Manager-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .Manager-Buttons-Wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .Buttons-Wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            .buttons{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .button-item{
                    margin-top: 10px;
                    margin-bottom: 10px;
                    color: $text-bright-color;
                    background-color: black;

                    button{
                        color: $text-bright-color;
                        background-color: black;
                        box-shadow: 0 0 5px white;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}



.delete-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .blog-edit-delete-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .delete-form-wrapper{
        .Form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 900px;

            .Form-Wrapper{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .Form-Box{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 800px;

                    label{
                        margin-left: 50px;
                    }

                    input{
                        margin-right: 50px;
                        width: fit-content;
                        text-align: center;
                        color: $text-bright-color;
                        background-color: black;
                        box-shadow: 0 0 5px white;
                            
                    }

                    select{
                        margin-right: 50px;
                        width: fit-content;
                        text-align: center;
                        color: $text-bright-color;
                        background-color: black;
                        box-shadow: 0 0 5px white;
                        
                        .Option{
                            &:hover{
                                background-color: black;
                            }
                        }
                        
                    }

                    .search-button{
                        color: $text-bright-color;
                        background-color: black;
                        box-shadow: 0 0 5px white;
                        border-radius: 20px;
                    }
                }
            }

            button{
                color: $text-bright-color;
                background-color: black;
                box-shadow: 0 0 5px white;
                border-radius: 20px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }

    
    .delete-blog-wrapper{
        .grid-wrapper-for-blogs{
            overflow-y: scroll;
            height: 500px;
            width:700px;
            border: 1px solid black;
            .Blog-Item{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                justify-content: space-evenly;
                align-items: center;
                .title-and-category-wrapper{
                    border: 1px solid black;
                }
                .description-wrapper{
                    border: 1px solid black;
                    height: 100%;
                }
                .buttons{
                    display: flex;
                    justify-content: center;
                    border: 1px solid black;
                    height: 100%;
                    width: 99%;
                    align-self: center;
                    align-items: center;

                    button{
                        height: 50px;
                        width: 80px;
                        color: $text-bright-color;
                        background-color: black;
                        margin-left: 8px;
                        border-radius: 20px;
                        box-shadow: 0 0 5px white;
                        transition: 2s;

                        &:hover {
                            box-shadow: 0 0 5px red;
                            height: 55px;
                            width: 85px;
                            font-size: 1.1em;
                            font-weight: bolder;
                        }
                    }

                    .editbutton{
                        height: 50px;
                        width: 80px;
                        color: $text-bright-color;
                        background-color: black;
                        margin-left: 8px;
                        border-radius: 20px;
                        box-shadow: 0 0 5px white;
                        transition: 2s;

                        &:hover {
                            box-shadow: 0 0 5px green;
                            height: 55px;
                            width: 85px;
                            font-size: 1.1em;
                            font-weight: bolder;
                        }
                    }
                }
            }

        }
    }

    .edit-form-wrapper{
        .Form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .Form-Wrapper{
                .Form-Box{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .Inputs-Wrapper-WS{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        .Blog-Id-holder{
                            width: 40px;
                            text-align: center;
                            color: $text-bright-color;
                            background-color: black;
                            box-shadow: 0 0 5px white;
                            margin-right: 10px;
                            margin-left: 10px;
                        }

                        .Title{
                            width: fit-content;
                            text-align: center;
                            color: $text-bright-color;
                            background-color: black;
                            box-shadow: 0 0 5px white;
                            margin-right: 10px;
                            margin-left: 10px;
                        }

                        #category{
                            width: fit-content;
                            text-align: center;
                            color: $text-bright-color;
                            background-color: black;
                            box-shadow: 0 0 5px white;
                            margin-right: 10px;
                            margin-left: 10px;
                        }
                    }

                    .RTE-WRAPPER{
                        .Editor-Wrapper{
                            margin: 5px;
                            .ck-editor__editable_inline {
                                background-color: black !important;
                                color: $text-bright-color !important;
                            }
                            
                            .ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
                                background-color: black !important;
                            }
                        }
                    }

                    .Add-Button{
                        width: fit-content;
                        text-align: center;
                        color: $text-bright-color;
                        background-color: black;
                        box-shadow: 0 0 5px white;
                        margin-right: 10px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    
}

.Form-Wrapper{
    .Form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .Form-Wrapper{
            .Form-Box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .Inputs-Wrapper-WS{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    .Title{
                        width: fit-content;
                        text-align: center;
                        color: $text-bright-color;
                        background-color: black;
                        box-shadow: 0 0 5px white;
                        margin-right: 10px;
                        margin-left: 10px;
                    }

                    #category{
                        width: fit-content;
                        text-align: center;
                        color: $text-bright-color;
                        background-color: black;
                        box-shadow: 0 0 5px white;
                        margin-right: 10px;
                        margin-left: 10px;
                    }
                }

                .RTE-WRAPPER{
                    .Editor-Wrapper{
                        margin: 5px;
                        .ck-editor__editable_inline {
                            background-color: black !important;
                            color: $text-bright-color !important;
                        }
                        
                        .ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
                            background-color: black !important;
                        }
                    }
                }

                .Add-Button{
                    width: fit-content;
                    text-align: center;
                    color: $text-bright-color;
                    background-color: black;
                    box-shadow: 0 0 5px white;
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }
        }
    }
}