.Page-Wrapper{
    .Create-Review-Page-Wrapper{
        .Section-For-Commisioners{
            .Form-Wrapper-For-Testimonial-Add{
                .True-testimonal-form{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    .RTE-WRAPPER{
                        .Editor-Wrapper{
                            margin: 5px;
                            .ck-editor__editable_inline {
                                background-color: black !important;
                                color: $text-bright-color !important;
                            }
                            
                            .ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
                                background-color: black !important;
                            }
                        }
                    }

                    .Top-bar-inputs-wrapper{
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);

                        .Title{
                            width: fit-content;
                            text-align: center;
                            color: $text-bright-color;
                            background-color: black;
                            box-shadow: 0 0 5px white;
                            margin-right: 10px;
                            margin-left: 10px;
                        }

                        .Testimonial-ProjectId{
                            width: fit-content;
                            text-align: center;
                            color: $text-bright-color;
                            background-color: black;
                            box-shadow: 0 0 5px white;
                            margin-right: 10px;
                            margin-left: 10px;
                        }

                        .Testimonial-Username{
                            width: fit-content;
                            text-align: center;
                            color: $text-bright-color;
                            background-color: black;
                            box-shadow: 0 0 5px white;
                            margin-right: 10px;
                            margin-left: 10px;
                        }
                    }
                    .Star-Review-Wrapper{
                        .Star-Review-Button{
                            .checked {
                                color: orange;
                              }
                        }
                    }
                    .Testimonial-Code-Gen{
                        input{
                            width: fit-content;
                            text-align: center;
                            color: $text-bright-color;
                            background-color: black;
                            box-shadow: 0 0 5px white;
                            margin-right: 10px;
                            margin-left: 10px;
                        }

                        button{
                            width: fit-content;
                            text-align: center;
                            color: $text-bright-color;
                            background-color: black;
                            box-shadow: 0 0 5px white;
                            margin-right: 10px;
                            margin-left: 10px;
                        }
                    }

                    .Testimonial-Form-Button-Submit{
                        width: fit-content;
                        text-align: center;
                        color: $text-bright-color;
                        background-color: black;
                        box-shadow: 0 0 5px white;
                        margin-right: 10px;
                        margin-left: 10px;
                    }
                }
            }
        }
        .Section-For-People-TCWTR{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .Project-Selection-Grid-Wrapper{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                .The-Projects-Wrapper{
                    width: 726px;
                    height: 600px;
                    overflow-y: scroll;
                    border: 1px solid black;
                    .Project-Object{
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        border: 1px solid black;
        
                        .Project-Title-Link-Category-Wrapper{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: center;
                            width: 200px;
                            height: 200px;
                            border: 1px solid black;
                            overflow-y: hidden;
                            overflow-x: hidden;
                        }
        
                        .Project-Img-Wrapper{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: center;
                            width: 200px;
                            height: 200px;
                            border: 1px solid black;
        
                            img{
                                width: 100%;
                                object-fit: cover;
                            }
                        }
        
                        .Project-Description-Wrapper{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: center;
                            width: 200px;
                            height: 200px;
                            border: 1px solid black;
                        }
        
                        .Buttons-For-Project{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 100px;
                            height: 200px;
                            border: 1px solid black;
        
                            button {
                                height: 30px;
                                width: 80px;
                                color: $text-bright-color;
                                background-color: black;
                                margin-top: 20px;
                                margin-bottom: 20px;
                                margin-left: 8px;
                                border-radius: 20px;
                                box-shadow: 0 0 5px white;
                                transition: 2s;
        
                                &:hover {
                                    box-shadow: 0 0 5px red;
                                    height: 35px;
                                    width: 85px;
                                    font-size: 1.1em;
                                    font-weight: bolder;
                                }
                            }
        
                            .edit-project-button{
                                height: 30px;
                                width: 80px;
                                color: $text-bright-color;
                                background-color: black;
                                margin-left: 8px;
                                border-radius: 20px;
                                box-shadow: 0 0 5px white;
                                transition: 2s;
        
                                &:hover {
                                    box-shadow: 0 0 5px green;
                                    height: 35px;
                                    width: 85px;
                                    font-size: 1.1em;
                                    font-weight: bolder;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}