@media screen and (max-width:767px) {
    //Core Start -----------------------------------------------------



    // Core Finish ----------------------------------------------------



    // Navigation Start -----------------------------------------------

    @keyframes shadow-aniamtion {
        0% {
            box-shadow: 0 0 6px white;
        }
        10%{
            box-shadow: 0 1px 7px white;
        }
        20%{
            box-shadow: 1px 1px 8px white;
        }
        30%{
            box-shadow: 0 -1px 9px white;
        }
        40%{
            box-shadow: -1px -1px 10px white;
        }
        50%{
            box-shadow: 0 1px 11px white;
        }
        60%{
            box-shadow: 1px 1px 10px white;
        }
        70%{
            box-shadow: 0 -1px 9px white;
        }
        80%{
            box-shadow: -1px -1px 8px white;
        }
        90%{
            box-shadow: 0 1px 7px white;
        }
        100%{
            box-shadow: 0 0 6px white;
        }
    }
    
    .Navigation-Wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px;
        height: 84px;
        width: 820px;
        background-color: black;
    
        .Left-side-menu{
            @include navigation-item-wrap-css();
    
            .User-Name-Insert{
                font-size: 1em;
                margin-left: 5px;
                color: $text-bright-color;
            }
        }
    
        .Middle-menu{
            @include navigation-item-wrap-css();
    
            .navigation-item{
            &:hover {animation: shadow-aniamtion 5s ease-in-out infinite;}
            }
    
        }
    
        .Right-side-menu{
            @include navigation-item-wrap-css();
            align-self: flex-end;
            .Sign-out-wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;
                .Power-Icon{
                    height: 50px;
                    width: 50px;
                    background-size: contain;
                    filter:brightness(130%);
                    filter:contrast(100%);
                    border-radius: 200px;
                    box-shadow: 0 0 5px white;
                    transition: 1s ease-in-out;
                    &:hover {
                        box-shadow: 0 0 10px red;
                        filter:contrast(130%);
                    }
                }
                .Text-for-power{
                    font-size: 1.2em;
                    color: $text-bright-color;
                }
            }
        }
    }

    // Navigation Finish ----------------------------------------------



    // HomePage Start -------------------------------------------------

        .Page-Wrapper{
        height: calc(300vh - 84px);
        background-color: $background-page-color;
        color: $text-bright-color;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 900px;

        .Home-Page-Wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 900px;

            .About-Me-Wrapper{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 900px;

                .Image-Wrapper{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 20px;
                    padding: 20px;
                    background-color: black;
                    border-radius: 20px;
                    box-shadow: 0 0 7px white;
                    height: 200px;
                    width: 200px;
                    overflow-x: hidden;
                    overflow-y: hidden;
                    img {
                        max-height: 100%;
                        max-width: 100%;
                        object-fit: contain;
                        align-self: flex-start;
                    }
                }

                .About-Me-Wrapper-Info{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 600px;
                    margin: 20px;
                    padding: 20px;
                    background-color: black;
                    border-radius: 20px;
                    box-shadow: 0 0 7px white;

                    .Resume-link{
                        button{
                            color: $text-bright-color;
                            background-color: black;
                            box-shadow: 0 0 5px white;
                            border-radius: 20px;
                            transition: 1s ease-in-out;
                            &:hover{
                                box-shadow: 0 0 7px white;
                                text-shadow: 0 0 7px green;
                                color: green;
                            }
                        }
                    }
                }

                .Logo{
                    height: 150px;
                    width: 150px;
                    align-self: center;
                    margin: 20px;
                    padding: 20px;
                    background-color: black;
                    border-radius: 20px;
                    box-shadow: 0 0 7px white;

                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        align-self: center;
                    }
                }
            }

            .More-Facts-About-Me-Grid-Wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .Skills-Wrapper{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: black;
                    border-radius: 20px;
                    margin: 10px;
                    box-shadow: 0 0 7px white;
                    width: 700px;

                    .Skill-bar-confidence-wrapper{
                        display: grid;
                        grid-template-columns: repeat(2 , 1fr);

                        .Skill-Item-wrapper{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            width: 300px;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            margin-right: 8px;
                            margin-left: 8px;
                            box-shadow: 0 0 7px white;
                            border-radius: 20px;


                            .Skill-Name{
                                background-color: $background-page-color;
                                border-radius: 20px 0px 0px 20px;
                                width: 82px;
                                padding: 5px;
                                
                            }

                            .Skill-Bar{
                                display: flex;
                                flex-direction: row;
                                background-color: $background-page-color;
                                border: 1px solid black;
                                border-radius: 0px 20px 20px 0px;
                                width: 250px;
                                height: 60px;
                                

                                .Skill-Percent-HTML{
                                    @include percent-bar();
                                }

                                .Skill-Percent-CSS{
                                    @include percent-bar();
                                }

                                .Skill-Percent-Python{
                                    @include percent-bar();
                                }

                                .Skill-Percent-Flask{
                                    @include percent-bar();
                                }

                                .Skill-Percent-MongoDB{
                                    @include percent-bar();
                                }

                                .Skill-Percent-UML{
                                    @include percent-bar();
                                }

                                .Skill-Percent-UIUX{
                                    @include percent-bar();
                                }

                                .Skill-Percent-Javascript{
                                    @include percent-bar();
                                }

                                .Skill-Percent-GIT{
                                    @include percent-bar();
                                }

                                .Skill-Percent-ReactJS{
                                    @include percent-bar();
                                }

                                .Skill-Percent-SQL{
                                    @include percent-bar();
                                }
                            }
                        }
                    }
                }

                .Hobbies-Wrapper{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: black;
                    border-radius: 20px;
                    margin: 10px;
                    padding: 10px;
                    height: 560px;
                    box-shadow: 0 0 7px white;

                    .Hobbies-list-wrapper{
                        text-align: left;
                        .List-item{
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }
                    }
                }

                .Currently-Learning-Wrapper{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: black;
                    border-radius: 20px;
                    margin: 10px;
                    height: 540px;
                    width: 600px;
                    padding: 10px;
                    box-shadow: 0 0 7px white;

                    .Currently-Learning-Wrapper-List{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .Currently-learning-item{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .C-L-I-TOP{
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                            }

                            .C-L-I-BOTTOM{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }

            .HomeDashboard-Wrapper{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                justify-content: center;
                align-items: center;

                .Object-Wrapper{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: black;
                    border-radius: 20px;
                    margin: 10px;
                    height: 200px;
                    width: 600px;
                    box-shadow: 0 0 7px white;

                    .Dashboard-Object-Material{
                        background-color: $background-page-color;
                        width: 20%;
                        height: 30%;
                        align-self: center;
                        border-radius: 20px;
                        font-size: 1.3em;
                        margin-top: 0px;
                        margin-bottom: 10px;

                        .Wrapper-For-Images{
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            align-items: center;
                            justify-content: center;
                        

                            .LinkSocial{
                                margin-left: 20px;
                                margin-right: 20px;
                                width: 100px;
                                img{
                                    width: 70%;
                                    height: 70%;
                                }
                                a {
                                    text-decoration: none;
                                    color: $text-bright-color;
                                    font-size: smaller;
                                    text-shadow: 0 0 0px white;
                                    transition: 2s;

                                    &:hover{
                                        color: salmon;
                                        font-size: 1.1em;
                                        font-style: bold;
                                        text-shadow: 0 0 10px whitesmoke;
                                    }
                                }
                            }
                        }
                    }

                    .Social-Links{
                        background-color: black;
                        width: 40%;
                        height: 60%;
                        align-self: center;
                        border-radius: 0px;
                        font-size: larger;
                        margin-top: 0px;
                        margin-bottom: 10px;
                    }

                    .Dashboard-Object-Link{
                        button{
                            color: $text-bright-color;
                            background-color: black;
                            box-shadow: 0 0 5px white;
                            border-radius: 20px;
                            transition: 1s ease-in-out;
                            &:hover{
                                box-shadow: 0 0 7px white;
                                text-shadow: 0 0 7px green;
                                color: green;
                            }
                        }
                    }
                }
            }
        }
    }

    // HomePage Finish ------------------------------------------------
}